/*/*
 |sortable
 |drdown
 |switch-content
 |flyout
 |drawer-container
 |scroll
 |slider-container
 |command-line
 |Office
 |toolbar
 |contextmenu
 |presentation
 |officePage-preview
 |fullscreen
 |content-body
 |my-slideshow
*/
 .mdi {
  font-family: 'entypo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
        }
  .grid-cont {
    height: calc(80vh - 3rem);
    position: relative;
    overflow: scroll;
  }

  .dummy-box {
    width: 2.5rem;
    height: 1.5rem;
    background-color:#E5E9F2;
    border: 0.3px solid #ccc;
    position: fixed;
    z-index: 2;
  }
  .row-number-cont {
    position: sticky;
    left: 0;
    top: 1.5rem;
    /*  add width for the row numbers  */
    width: 2.5rem;
    z-index: 1;
  }
  .row-numbers {
    background-color:#E5E9F2;
    width: 2.5rem;
    height: 1.5rem;
    text-align: center;
    border: 0.3px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cells-cont {
    position: absolute;
    top: 0;
    left: 2.5rem;
  }

  .column-letter-cont {
    display: flex;
    position: sticky;
    top: 0;
    left: 2.5rem;
  }

  .col-letters {
    height: 1.5rem;
    width: 5rem;
    text-align: center;
    border: 0.3px solid #ccc;
    background-color:#E5E9F2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cell {
    height: 1.5rem;
    width: 5rem;
    border: 0.3px solid #ccc;
  }

  .row-cell-cont {
    display: flex;
  }

  .cell.selected {
  background-color: rgba(0, 123, 255, 0.2);
  border: 1px solid #E5E9F2;
}



        .my-slideshow {
            max-width: 100%;
            position: relative;
            margin: auto;
        }
        .my-slideshow .slideshow-container {
            position: relative;
        }
        .my-slideshow .slide {
            display: none;
            width: 100%;
        }
        .my-slideshow img {
            width: 100%;
            height: auto;
        }
        .my-slideshow .prev, .my-slideshow .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            background-color: rgba(0,0,0,0.3);
        }
        .my-slideshow .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        .my-slideshow .caption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            padding: 10px;
            background-color: rgba(0,0,0,0.5);
            color: white;
            font-size: 16px;
        }
        .my-slideshow .dot-container {
            text-align: center;
            padding: 20px 0;
        }
        .my-slideshow .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
        .my-slideshow .active, .my-slideshow .dot:hover {
            background-color: #717171;
        }

        /* Gaya untuk Viewbox */
        .my-slideshow-viewbox {
            display: none;
            position: fixed;
            z-index: 1000;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.9);
        }
        .my-slideshow-viewbox-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }
        .my-slideshow-viewbox-caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }
        .my-slideshow-viewbox-close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }
        .my-slideshow-viewbox-close:hover,
        .my-slideshow-viewbox-close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
         .iconurl[img] {
           background-image: attr(img url);
           border-radius:3px;
         }
           .item.drag-over {
             border: 2px dashed #007bff;
             background-color: rgba(0, 123, 255, 0.1);
           }
           
     .nav-aside i.folder-icon { color: #FFA500; }
     .nav-aside i.text-file-color { color: #4B8BF4; }
     .nav-aside i.word-file-color { color: #2B579A; }
     .nav-aside i.excel-file-color { color: #217346; }
     .nav-aside i.powerpoint-file-color { color: #D24726; }
     .nav-aside i.pdf-file-color { color: #F40F02; margin-left: 2px;}
     .nav-aside i.image-file-color { color: #0078D7; }
     .nav-aside i.audio-file-color { color: #6B69D6; }
     .nav-aside i.video-file-color { color: #018574; }
     .nav-aside i.default-file-color { color: #767676; }
     .nav-aside i.cts-color{color:#2072B8; }


  #fullscreen:-webkit-full-screen,
  #fullscreen:-moz-full-screen,
  #fullscreen:-ms-fullscreen,
  #fullscreen:fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }

  #exitid {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    display: none;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
  }
  .officePage-preview {
    width:100%;
    height: 160px;
    border: 1px solid #ccc;
    margin-bottom: 10px; /* Ubah margin-bottom menjadi 10px */
    overflow: hidden;
    transform: none; /* Pastikan tidak ada skala yang diterapkan */
    transition: transform 0s ease;
    transform-origin: center center;
    padding: 10px;
    background-color:#fff;
    margin: auto; /* Tambahkan margin auto untuk menempatkan di tengah */
  }

  .officePage-preview-container {
    display: flex; /* Gunakan Flexbox */
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
    width: 100%;
    height: 160px;
    margin-bottom: 10px; /* Ubah margin-bottom menjadi 10px */
    overflow: hidden;
    padding-right: 5px;
  }

  .officePage-preview h1 {
    font-size: 18px; /* Sesuaikan ukuran font */
    margin: 0;
  }

  .officePage-preview p {
    font-size: 14px; /* Sesuaikan ukuran font */
    margin: 5px 0;
  }

  .officePage-preview table {
    width: 100%; /* Sesuaikan lebar tabel */
    border-collapse: collapse;
  }

  .officePage-preview table, .officePage-preview th, .officePage-preview td {
    border: 1px solid #ccc;
  }

  .officePage-preview th, .officePage-preview td {
    padding: 5px;
    text-align: left;
  }

  .officePage-preview img {
    max-width: 100%; /* Sesuaikan lebar gambar */
    height: auto;
  }

  #listPage {
     overflow-y: auto; /* Tambahkan scrollbar vertikal */
     width: 100%;
  }

  /* Gaya untuk scrollbar */
  #listPage::-webkit-scrollbar {
    width: 5px;
  }

  #listPage::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 8px;
  }

  #listPage::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }



  #listPage li {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .slide-preview {
    width: 120px; /* Meningkatkan lebar */
    height:70px; /* Meningkatkan tinggi, tetap mempertahankan rasio aspek 16:9 */
    border: 1px solid #ccc;
    margin-right: 10px;
    overflow: hidden;
  }


  .slide-preview {
    width: 160px; /* 1/5 dari lebar asli */
    height: 90px; /* 1/5 dari tinggi asli */
    overflow: hidden;
    position: relative;
    max-width: 145px;
  }
  .slide-preview-content {
    transform: scale(0.2);
    transform-origin: top left;
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 500%;
  }

  .slide-info {
    flex-grow: 1;
  }

  .slide-title {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .slide-number {
    color: #666;
    font-size: 0.9em;
  }

        #pptxcontrols {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;
            display: none; /* Sembunyikan secara default */
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px;
            border-radius: 5px;
            opacity: 0.7;
            transition: opacity 0.3s ease;
        }
        #pptxcontrols:hover {
            opacity: 1;
        }
        #pptxcontrols button {
            margin: 0 5px;
            padding: 5px 10px;
            font-size: 14px;
            background-color: #ffffff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
        #pptxcontrols button:hover {
            background-color: #e0e0e0;
        }
        #exitFullscreen {
            position: fixed;
            top: 10px;
            right: 10px;
            z-index: 1000;
            display: none;
            padding: 5px 10px;
            font-size: 14px;
            background-color: #ffffff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
        #exitFullscreen:hover {
            background-color: #e0e0e0;
        }
        #presentation:not(:fullscreen) #pptxcontrols {
            display: none;
        }
        /* Gaya tambahan untuk mode layar penuh */
        #presentation:fullscreen #pptxcontrols,
        #presentation:fullscreen #exitFullscreen {
            display: flex; /* Tampilkan saat fullscreen */
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px;
            border-radius: 5px;
        }
        #presentation:fullscreen #pptxcontrols button {
            margin: 0 5px;
            padding: 5px 10px;
            font-size: 14px;
        }
        #presentation:fullscreen .bg-default {
            width: 100%; /* Ukuran 100% saat layar penuh */
            height: 100%; /* Ukuran 100% saat layar penuh */
        }
        /* Tampilkan kontrol saat dalam mode layar penuh */
        #presentation:fullscreen #pptxcontrols {
            display: flex;
        }
        #pageCounter {
            position: fixed;
            bottom: 60px; /* Posisikan di atas controls */
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 5px 10px;
            border-radius: 3px;
            font-size: 14px;
            z-index: 1000;
            display: none;
        }
        #presentation:fullscreen #pageCounter {
            display: block;
        }
        
        .slide-content {
            opacity: 0;
        }

        .active .slide-content {
            opacity: 1;
        }

      



/*      ICON GOOGLE*/

.docs-homescreen-icon-docs,
.docs-homescreen-icon-sheets,
.docs-homescreen-icon-slides,
.docs-homescreen-icon-sites,
.docs-homescreen-icon-forms,
.docs-homescreen-powerpoint-encrypted,
.docs-homescreen-nav-vids,
.docs-homescreen-icon-gear {
    direction: ltr;
    text-align: left;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    user-select: none;
}

.docs-homescreen-icon-docs-20,
.docs-homescreen-icon-sheets-20,
.docs-homescreen-icon-slides-20,
.docs-homescreen-icon-sites-20,
.docs-homescreen-icon-forms-20,
.docs-homescreen-powerpoint-encrypted-20,
.docs-homescreen-nav-vids-20,
.docs-homescreen-icon-gear-20 {
    direction: ltr;
    text-align: left;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    user-select: none;
}

.docs-homescreen-icon-docs-44,
.docs-homescreen-icon-sheets-44,
.docs-homescreen-icon-slides-44,
.docs-homescreen-icon-sites-44,
.docs-homescreen-icon-forms-44,
.docs-homescreen-powerpoint-encrypted-44,
.docs-homescreen-nav-vids-44,
.docs-homescreen-icon-gear-44{
    direction: ltr;
    text-align: left;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    height: 36px;
    width: 30px;
    user-select: none;
}

.docs-homescreen-icon-docs-48,
.docs-homescreen-icon-sheets-48,
.docs-homescreen-icon-slides-48,
.docs-homescreen-icon-sites-48,
.docs-homescreen-icon-forms-48,
.docs-homescreen-powerpoint-encrypted-48,
.docs-homescreen-nav-vids-48,
.docs-homescreen-icon-gear-48{
    direction: ltr;
    text-align: left;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    height: 36px;
    width: 30px;
    user-select: none;
}

.docs-homescreen-icon-docs::before,
.docs-homescreen-icon-sheets::before,
.docs-homescreen-icon-slides::before,
.docs-homescreen-icon-sites::before,
.docs-homescreen-icon-forms::before,
.docs-homescreen-powerpoint-encrypted::before,
.docs-homescreen-nav-vids::before,
.docs-homescreen-icon-gear::before {
    content: '';
    background-image: url("../images/office.svg");
    position: absolute;
    height: 24px;
    width: 24px;
}

.docs-homescreen-icon-docs-20::before,
.docs-homescreen-icon-sheets-20::before,
.docs-homescreen-icon-slides-20::before,
.docs-homescreen-icon-sites-20::before,
.docs-homescreen-icon-forms-20::before,
.docs-homescreen-powerpoint-encrypted-20::before,
.docs-homescreen-nav-vids-20::before,
.docs-homescreen-icon-gear-20::before {
    content: '';
    background-image: url("../images/office.svg");
    position: absolute;
    height: 24px;
    width: 24px;
    scale: 0.8;
}


.docs-homescreen-icon-docs-44::before,
.docs-homescreen-icon-sheets-44::before,
.docs-homescreen-icon-slides-44::before,
.docs-homescreen-icon-sites-44::before,
.docs-homescreen-icon-forms-44::before,
.docs-homescreen-powerpoint-encrypted-44::before,
.docs-homescreen-nav-vids-44::before,
.docs-homescreen-icon-gear-44::before {
    content: '';
    background-image: url("../images/office.svg");
    position: absolute;
    height: 36px;
    width: 30px;
    scale: 1.5;
}

.docs-homescreen-icon-docs-48::before,
.docs-homescreen-icon-sheets-48::before,
.docs-homescreen-icon-slides-48::before,
.docs-homescreen-icon-sites-48::before,
.docs-homescreen-icon-forms-48::before,
.docs-homescreen-powerpoint-encrypted-48::before,
.docs-homescreen-nav-vids-48::before,
.docs-homescreen-icon-gear-48::before {
    content: '';
    background-image: url("../images/office.svg");
    position: absolute;
    height: 25px;
    width: 22px;
    scale: 2;
    margin-top: 5px;
}

.docs-homescreen-icon-docs::before { background-position: 0px -1145px; }
.docs-homescreen-icon-sheets::before { background-position: 0 -1001px; }
.docs-homescreen-icon-slides::before { background-position: -42px -532px; }
.docs-homescreen-icon-sites::before { background-position: -48px -897px; }
.docs-homescreen-icon-forms::before { background-position: -16px -975px; }
.docs-homescreen-powerpoint-encrypted::before { background-position: 0px 0px; }
.docs-homescreen-icon-gear::before { background-position: 0 -2085px; }
.docs-homescreen-nav-vids::before { background-position: -23px -708px; }

.docs-homescreen-icon-docs-20::before { background-position: 0px -1145px; }
.docs-homescreen-icon-sheets-20::before { background-position: 0 -1001px; }
.docs-homescreen-icon-slides-20::before { background-position: -42px -532px; }
.docs-homescreen-icon-sites-20::before { background-position: -48px -897px; }
.docs-homescreen-icon-forms-20::before { background-position: -16px -975px; }
.docs-homescreen-powerpoint-encrypted-20::before { background-position: 0px 0px; }
.docs-homescreen-icon-gear-20::before { background-position: 0 -2085px; }
.docs-homescreen-nav-vids-20::before { background-position: -23px -708px; }

.docs-homescreen-icon-docs-44::before {background-position: 3px -1140px; }
.docs-homescreen-icon-sheets-44::before { background-position: 2px -995.7px; }
.docs-homescreen-icon-slides-44::before { background-position: -39px -526px; }
.docs-homescreen-icon-sites-44::before { background-position: -45px -891px; }
.docs-homescreen-icon-forms-44::before { background-position: -13px -969px; }
.docs-homescreen-powerpoint-encrypted-44::before { background-position: 0px 0px; }
.docs-homescreen-icon-gear-44::before { background-position: 3px -2079px; }
.docs-homescreen-nav-vids-44::before { background-position: -23px -708px; }

.docs-homescreen-icon-docs-48::before {background-position: 1px -1144px; }
.docs-homescreen-icon-sheets-48::before { background-position: 2px -999.7px; }
.docs-homescreen-icon-slides-48::before { background-position: -41px -531px; }
.docs-homescreen-icon-sites-48::before { background-position: -45px -891px; }
.docs-homescreen-icon-forms-48::before { background-position: -15px -974px; }
.docs-homescreen-powerpoint-encrypted-48::before { background-position: 0px 2px; }
.docs-homescreen-icon-gear-48::before { background-position: 3px -2079px; }
.docs-homescreen-nav-vids-48::before { background-position: -23px -708px; }

#mr-history {
    margin-right: 1px !important;
    margin-left: -3px;
}
.sp-history {
    padding-left: 6px;
    padding-top: 2px;
}
