{
  "name"           :"MyApp",
  "version"        :"1.0.0",
  "cradensial"     :"30955-1C255-E413C-EAFA3",
  "endpoint"       :"http://192.168.1.34/Server5/",
  "otentikasi"     :"#oauth/signin",
  "account"        :"#account",
   "callback"      :"#home",
  "development"    :"theme",
  "api":{
     "internal":"http://api/",
     "external":"http://api/"
  },
  "generativeAI":false,
  "firebase":false,
  "google":false
}
